name: Update Website

on:
  schedule:
    - cron: '0 0 * * *' # Midnight UTC
  workflow_dispatch: 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests jinja2 markdown

      - name: Run Builder
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python build.py

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages